#newsletter-container {
      
      position:fixed;
      
      z-index:8999;
      
}
      
#form-newsletter {
      
  display:flex;
      
  flex-direction:column;
      
  justify-content:center;
      
  align-items:center;

  width:400px;

  margin-left:auto;
  
  margin-right:auto;

  height:250px;

  background-color:black;

  border:5px solid white;

  position:fixed;

  bottom:90px;

  z-index:9000;

 }

#titulo-newsletter {

  color:white;

  font-weight:bold;

  margin-bottom:20px;

  font-size:20px;

}

#email-input {

   color:white;   

   font-weight:bold;

   width:80%;

   height:35px;
      
   border:3px solid white;
      
   background-color:black;
      
   border-radius:10px;
    
}

#botao-assinar {

  margin-top: 30px;

  background-color:black;

  color:white;

  font-weight: bold;
      
  height:30px;
      
  width:60%;
      
  border: 3px solid white;
      
  border-radius:10px;
      
}

#fechar {

  font-weight:bold;

  color:white;

   z-index:9999;

  background-color:black;

  position:relative;
      
  margin-top:40px;

  margin-bottom:5px;

  margin-right:auto;
      
  margin-left:auto;
      
  border: 3px solid white;
      
  font-size:15px;
      
  border-radius:10px;
      
  pointer-events:auto;
      
}

#mensagem-obrigado {
      
      font-size:15px;
      
      font-weight:bold;
      
      color:white;
      
      text-align:center;
      
      font-family:Times New Roman;
      
}
